/P3/Clientes/build/
/P3/Maestro/build/
/P4/Clientes/build/
/P4/Clientes/nbproject/private/
/P4/Maestro/build/
/P4/Maestro/nbproject/private/
/P5/Clientes/build/
/P5/Clientes/nbproject/private/
/P5/Maestro/nbproject/private/
/P5puerk/Maestro/nbproject/private/
/P5puerk/Maestro/build/
/P5puerk/Clientes/nbproject/private/
/P5puerk/Clientes/build/
/Proyecto/Clientes/nbproject/private/
/Proyecto/Maestro/nbproject/private/
/Proyecto/Clientes/build/
/Proyecto/P/Clientes/nbproject/private/
/Proyecto/P/Maestro/nbproject/private/
/Proyecto/P/Clientes/build/
/Proyecto/P/Maestro/build/
/pushp4/P4/Maestro/nbproject/private/
/pushp4/P4/Clientes/build/
/pushp4/P4/Clientes/nbproject/private/