/P3/Clientes/build/
/P3/Maestro/build/
/P4/Clientes/build/
/P4/Clientes/nbproject/private/
/P4/Maestro/build/
/P4/Maestro/nbproject/private/
/P5/Clientes/build/
/P5/Clientes/nbproject/private/
/P5/Maestro/nbproject/private/